:root {
  --main-text-color: #212121;
  --secondary-text-color: #ffffff;
  --ouwer-text-color: #757575;
  --acent-color: #2196f3;
  --logo-color-text: #000000;
  --background-footer-color: #2f303a;
  --buttons-port-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --icon-social-color: #afb1b8;
  --contener-color: #eeeeee;
  --line-color: #ececec;
  --background-all-color: #e5e5e5;
  --main-font: "Roboto", sans-serif;
  --footer-circle-color: #ffffff1a;
}
body {
  font-family: var(--main-font);
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
  margin-top: 20px;
}

button {
  display: block;
  border: none;
  border-radius: 4px;
}

/* nowe */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* nowe */
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* nowe */
.logo-studio {
  font-family: "Raleway", sans-serif;
  color: var(--logo-color-text);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

/* nowe */
.logo-studio__web {
  color: var(--acent-color);
}

header {
  border-bottom: 1px solid var(--line-color);
}

/* nowe */
.header-wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

/* nowe */
.navigation__element {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: var(--main-text-color);
  padding: 31px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* nowe */
.navigation__element:hover,
.navigation__element:focus {
  color: var(--acent-color);
}

/* nowe */
.navigation__element:hover::after,
.navigation__element:focus::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--acent-color);
}

/* nowe */
.navigation__element--current {
  color: var(--acent-color);
  position: relative;
}
/* nowe */
.navigation__element--current::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--acent-color);
}

/* nowe */
nav {
  margin-left: 93px;
}
/* nowe */
.navigation {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  gap: 46px;
}

/* nowe */
.contact {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 31px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--ouwer-text-color);
  fill: var(--ouwer-text-color;);
  display: flex;
  align-items: center;
}

/* nowe */
.contact:hover,
.contact:focus {
  color: var(--acent-color);
}

/* nowe */
.contact__icon {
  border-radius: 0px;
  margin-right: 10px;
}

/* nowe */
.contact__icon--phone {
  height: 16px;
  width: 10px;
  fill: currentColor;
}

/* nowe */
.contact__icon--phone:hover,
.contact__icon--phone:active,
.contact__icon--phone:focus {
  fill: var(--acent-color);
  cursor: pointer;
}

/* nowe */
.contact__icon--mail {
  height: 12px;
  width: 16px;
  fill: currentColor;
}

/* nowe */
.contact__icon--mail:hover,
.contact__icon--mail:active,
.contact__icon--mail:focus {
  fill: var(--acent-color);
  cursor: pointer;
}

/* nowe */
.conteiner__contact {
  margin-left: auto;
  display: flex;
  gap: 50px;
}

/* nowe */
.section-order {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/first_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--background-footer-color);
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

/* nowe */
.section-order__header {
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--secondary-text-color);
  line-height: 1.5;
  width: 696px;
  margin: 0 auto;
}

/* nowe */
.button__order {
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  padding: 10px 42px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* nowe */
.button__order:hover,
.button__order:focus {
  background-color: var(--buttons-port-color);
  color: var(--main-text-color);
}

/* nowe */
.section__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: insert(100%);
  overflow: hidden;
}

/* nowe */
.grid {
  display: flex;
  gap: 30px;
}

/* nowe */
.grid__rectangle {
  background-color: var(--buttons-port-color);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

/* nowe */
.grid__icon {
  height: 70px;
  width: 70px;
}

/* nowe */
.section__title-description {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 30px;
}

/* nowe */
.section__text-description {
  color: var(--ouwer-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-top: 10px;
}

/* nowe */
.section__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  fill: var(--ouwer-text-color);
}
/* nowe */
.product-img {
  position: relative;
}

/* nowe */
.product-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  z-index: 1;
  bottom: 0;
}

/* nowe */
.section-team {
  background-color: var(--buttons-port-color);
}
/* nowe */
.section-team__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

/* nowe */
.grid__shape {
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  background-color: var(--secondary-text-color);
  border-radius: 4px;
}

/* nowe */
.wrap-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* nowe */
.wrap-team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* nowe */
.wrap-team__position {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--ouwer-text-color);
  text-align: center;
  margin-top: 10px;
}
/* nowe */
.grid-social {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

/* nowe */
.grid-social__icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* nowe */
.grid-social__circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-social-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* nowe */
.grid-social__circle:hover,
.grid-social__circle:active,
.grid-social__circle:focus {
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
}
/* nowe */
.grid-client__rectangle {
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-color: currentColor;
  border-radius: 4px;
  color: var(--icon-social-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* nowe */
.grid-client__rectangle:hover,
.grid-client__rectangle:active,
.grid-client__rectangle:focus {
  color: var(--acent-color);
  outline: transparent;
}

/* nowe */
.grid-client__icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

/* nowe */
footer {
  background-color: var(--background-footer-color);
  padding: 60px 0;
}

/* nowe */
.logo-studio__white {
  font-family: "Raleway";
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
/* nowe */
.address__link {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--secondary-text-color);
  text-decoration: none;
  line-height: 1.7;
  font-style: normal;
  display: flex;
}
/* nowe */
.address__contact {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--footer-text-color);
  line-height: 1.7;
  font-style: normal;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* nowe */
.address__contact:hover,
.address__contact:focus {
  color: var(--acent-color);
}

/* nowe */
.conteiner-footer {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: baseline;
}
/* nowe */
.address:not(:last-child) {
  margin-bottom: 9px;
}

/* nowe */
.conteiner-social {
  margin-left: 70px;
}

/* nowe */
.conteiner-social__title {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.17;
  margin-bottom: 20px;
}
/* nowe */
.grid-social__shape {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-circle-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* nowe */
.grid-social__shape:hover,
.grid-social__shape:active,
.grid-social__shape:focus {
  background-color: var(--acent-color);
}
/* nowe */
.grid-social__icon--footer {
  fill: var(--secondary-text-color);
  width: 20px;
  height: 20px;
}
/* nowe */
.conteiner-newsletter {
  margin-left: auto;
}
/* nowe */
.form-email {
  display: flex;
  flex-direction: row;
}
/* nowe */
.form-email__input {
  background-color: var(--background-footer-color);
  color: var(--secondary-text-color);
  min-height: 50px;
  width: 358px;
  border: solid 1px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px #00000026;
  align-items: center;
  padding-left: 16px;
}

/* nowe */
.button-footer {
  display: flex;
  gap: 24px;
  align-items: center;
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  padding: 10px 42px;
  margin-left: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* nowe */
.button-footer:hover,
.button-footer:focus {
  background-color: var(--buttons-port-color);
  color: var(--main-text-color);
}

/* nowe */
.button-footer :hover + .button-footer__icon,
.button-footer :focus + .button-footer__icon {
  fill: var(--main-text-color);
}

/* nowe */
.button-footer__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
/* nowe */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* nowe */
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--secondary-text-color);
  border: 1px solid #0000001a;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  animation-name: appearModal;
  animation-duration: 3000ms;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
/* nowe */
.button--close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-text-color);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* nowe */
.button__icon {
  width: 18px;
  height: 18px;
}
/* nowe */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/* nowe */
.form-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
/* nowe */
.conteiner-modal {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
/* nowe */
.grid-modal {
  display: flex;
  flex-direction: column;
  color: var(--ouwer-text-color);
  font-size: 12px;
  letter-spacing: 0.01em;
  position: relative;
}
/* nowe */
.grid-modal__input {
  margin-top: 4px;
  border: solid 1px;
  border-radius: 4px;
  color: #21212133;
  width: 100%;
  height: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
}

/* nowe */
.grid-modal__input:focus,
.grid-modal__input:hover {
  color: var(--acent-color);
  outline: transparent;
}
/* nowe */
.grid-modal__input:focus + .grid-modal__icon,
.grid-modal__input:hover + .grid-modal__icon {
  fill: var(--acent-color);
}
/* nowe */
.grid-modal__icon {
  fill: var(--main-text-color);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* nowe */
.comment {
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
}

/* nowe */
.agreement {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* nowe */
.agreement__wrap {
  display: flex;
  align-items: center;
  position: relative;
}
/* nowe */
.agreement__checkbox {
  width: 16px;
  height: 15px;
}
/* nowe */
.agreement__checkbox:checked + .agreement__icon {
  width: 0;
  height: 0;
}
/* nowe */
.agreement__icon {
  position: absolute;
  width: 16px;
  height: 15px;
}
/* nowe */
.agreement__text {
  font-size: 14px;
  color: var(--ouwer-text-color);
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-left: 8px;
}
/* nowe */
.agreement__link {
  color: var(--acent-color);
  text-decoration-line: underline;
}
/* nowe */
.conteiner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
/* nowe */
.modal-button {
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  min-width: 200px;
  padding: 10px 42px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* nowe */
.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 6px 6px 0px #00000026;
}
/* nowe */
.grid-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
/* nowe */
.grid-button__item {
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: 500;
  background: var(--buttons-port-color);
  border-radius: 4px;
  line-height: 1.5;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* nowe */
.grid-button__item:hover,
.grid-button__item:focus {
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
}

/* nowe */
.conteiner-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* nowe */
.portfolio {
  width: 370px;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--logo-color-text);
}
/* nowe */
.portfolio:active,
.portfolio:focus,
.portfolio:hover,
.portfolio:visited {
  transform: translateY(0%);
  box-shadow: 1px 4px 6px 0px #00000029;
  box-shadow: 0px 4px 4px 0px #0000000f;
  box-shadow: 0px 1px 1px 0px #0000001f;
}
/* nowe */
.portfolio:hover .portfolio__overlay,
.portfolio:focus .portfolio__overlay {
  transform: translateY(0%);
  box-shadow: 1px 4px 6px 0px #00000029;
  box-shadow: 0px 4px 4px 0px #0000000f;
  box-shadow: 0px 1px 1px 0px #0000001f;
}
/* nowe */
.portfolio__fill {
  position: relative;
  overflow: hidden;
}
/* nowe */
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-left: 24px;
  background-color: var(--acent-color);
  color: var(--secondary-text-color);
  opacity: 0.9;
}
/* nowe */
.wrap-text {
  border: 1px solid var(--contener-color);
  border-top: 0;
  padding: 20px 24px;
}
/* nowe */
.wrap-text__title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: left;
  line-height: 2;
}
/* nowe */
.wrap-text__type {
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--ouwer-text-color);
  line-height: 1.9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
}
